#canvasdiv{
  width: 700px;
  height: 700px;
}

.button{
  /* position: absolute; */
  /* left: 800px;
  top: 600px; */
  width: 100px;
  height: 50px;
  margin: 50px;
}

#container div, #container button{
  float: left;
}
